<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - The Souls of Cars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="header-bar">
        <div class="site-title"><a href="{{ url_for('home') }}">The Souls of Cars</a></div>
        <div class="nav-links">
            <a href="{{ url_for('learn', lesson_id=1) }}">Learn</a>
            <a href="{{ url_for('take_quiz') }}">Quiz</a>
        </div>
    </div>
    
    <div class="container">
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>