{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2 class="home-title">The Souls of Cars</h2>
    
    <div class="mx-auto home-buttons">
        <a href="{{ url_for('learn', lesson_id=1) }}" class="btn btn-outline-secondary">
            Learn
        </a>
        
        <a href="{{ url_for('take_quiz') }}" class="btn btn-outline-secondary">
            Quiz
        </a>
    </div>
</div>

<div class="quick-view-section">

    <h3 class="quick-view-heading">Start learning!</h3>
    <hr class="quick-view-lb">
    
    <div class="row">
    
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Inline_6_Cylinder_with_firing_order_1-5-3-6-2-4.gif" class="card-img-top img-size" alt="Image of a Straight 6 engine">   
                
                <div class="card-body text-center">
                    <div class="card-button">
                        <a href="{{ url_for('learn', lesson_id=2) }}" class="btn btn-outline-secondary">Straight-6</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/V8-Firing.gif" alt="Image of V-8 engine" class="card-img-top img-size" alt="Image of a V-8 engine">   
                <div class="card-body text-center">                    
                    <div class="card-button">
                        <a href="{{ url_for('learn', lesson_id=3) }}" class="btn btn-outline-secondary">V-8</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/flat-6.gif') }}" alt="Image of a Flat 6 engine" class="card-img-top img-size">   
                <div class="card-body text-center">        
                    <div class="card-button">
                        <a href="{{ url_for('learn', lesson_id=4) }}" class="btn btn-outline-secondary">Flat-6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}