{% extends "base.html" %}

{% block content %}
<div class="lesson-content">
    <h3>{{ lesson.title }}</h3>
    
    <div class="row">
        <div class="col-6">
            <p>{{ lesson.content }}</p>

            {% if lesson.points %}
            <div class="lesson-points">
                {% for point in lesson.points %}
                    {% if point.title is defined and point.description is defined %}
                    <h4>{{ point.title }}</h4>
                    <p>{{ point.description }}</p>
                    {% else %}
                        <p>{{ point }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-6">
            {% if lesson.images %}
                {% for image in lesson.images %}
                    <img src="{{ image }}" alt="Lesson image" class="gallery-item img-size" />
                {% endfor %}
            {% endif %}
        </div>



    </div>
        

    
    <div class="nav-buttons">
        <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">Back</a>
        
        {% if next_lesson %}
            <a href="{{ url_for('learn', lesson_id=next_lesson) }}" class="btn btn-primary">Next</a>
        {% else %}
            <a href="{{ url_for('quiz', question_id=1) }}" class="btn btn-success">Start Quiz</a>
        {% endif %}
    </div>
</div>
{% endblock %}